<!DOCTYPE html>
<head>
    <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/keen-dashboards.css" />
    <!-- Use keen-analysis.js to fetch query results -->
    <script src="//d26b395fwzu5fz.cloudfront.net/keen-analysis-1.2.2.js"></script>

    <!-- Dataviz dependencies -->
    <link href="//d26b395fwzu5fz.cloudfront.net/keen-dataviz-1.1.3.css" rel="stylesheet" />
    <script src="//d26b395fwzu5fz.cloudfront.net/keen-dataviz-1.1.3.js"></script>
  </head>

<body>
<div class="container-fluid">

    <div class="row">
      <div class="col-sm-8">
        <div class="chart-wrapper">
          <div class="chart-title">
            
          </div>
          <div class="chart-stage">
            <div id="grid-1">
              
            </div>
          </div>
          <div class="chart-notes">
            Values represented in H/s
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            
          </div>
          <div class="chart-stage">
            <div id="grid-2">
              
            </div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper" >
          
          <div class="chart-stage">
            <div id="grid-3">
              <script type="text/javascript">
              baseUrl = "https://widgets.cryptocompare.com/";
              var scripts = document.getElementsByTagName("script");
              var embedder = scripts[ scripts.length - 1 ];
              var cccTheme = {"Header":{"displayFollowers":false}};
              (function (){
              var appName = encodeURIComponent(window.location.hostname);
              if(appName==""){appName="local";}
              var s = document.createElement("script");
              s.type = "text/javascript";
              s.async = true;
              var theUrl = baseUrl+'serve/v2/coin/chart?fsym=ZEN&tsym=USD&period=1W';
              s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
              embedder.parentNode.appendChild(s);
              })();
              </script>


            </div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            
          </div>
          <div class="chart-stage">
            <div id="grid-4">
              
            </div>
            
          </div>
        </div>
      </div>
     
<!-- end of three -->
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Realtime Hashrate
          </div>
          <div class="chart-stage">
            <div id="grid-5">
              
            </div>
          </div>
          <div class="chart-notes">
            Hashrate will refresh every minute. Click for manual <button type="button" class="btn" onclick="realtimeHR()">Refresh</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <button id="startMining" type="button" class="btn btn-primary" onclick="startMining()">Start Mining</button> 
            <button id="stopMining" type="button" class="btn btn-danger" onclick="stopMining()">Stop Mining</button> <br>
            The rig will take about 5 mints to complete the 'Stop' and 'Start' process. You will be able monitor Realtime Hashrate drop within that timeframe.
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
     
    </div>
  </div>


    <hr>

    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

  </div>
<script type="text/javascript" src="../../assets/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../../assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../assets/lib/holderjs/holder.js"></script>
  <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.12.0.js"></script>
<script type="text/javascript">
//Hashrate over 48 hours
  var hashRate48HoursChart = new Keen.Dataviz()
        .el('#grid-1')
    .height(300)
        .colors(['red'])
        .title('Hashrate For last 48 Hours')
        .type('area')
        .prepare();

//Zen Balance in the pool
var zenOverTimePool = new Keen.Dataviz()
        .el('#grid-2')
    .height(300)
        .colors(['grey', 'red'])
        .title('Zen Pool Coin Balance')
        .type('area')
        .prepare();

//Zen Profitabiliy Table
var profitabilityUSD = new Keen.Dataviz()
        .el('#grid-4')
    .height(250)
        .colors(['red'])
        .title('Profitability')
        .type('table')
        .chartOptions({
                  suffix: ' USD/Day'
                })
        .prepare();


//Realtime Hashrate
var realtimeHashrate = new Keen.Dataviz()
        .el('#grid-5')
    .height(150)
        .colors(['red'])
        .title('Realtime Hashrate')
        .type('metric')
        .chartOptions({
                  suffix: ' H/s'
                })
        .prepare();


  var client = new Keen({
        projectId: "59642588c9e77c000128d60f",
    readKey: "1ACFC5122E5A3ACA4C0E3CE2C2485108B186F960DD1E36FFC9EE739F9A01EA73A311CC8238D65B254875CD928A2D33E46B60AA78E7D26BC321B2AE11F4336748B07FD8AE60A7F77B6A421165EEB8009C9A6277AFA4F6E166A9AD020930D2F8EF"

      });

//Hashrate over 48 hours
  client
      .query('average', {
        event_collection: "hashrate",
        interval: "hourly",
        target_property: "speed",
        timeframe: "this_2_days",
        timezone: "US/Eastern"
      
      })
      .then(function(res) {
        // Handle the result
        hashRate48HoursChart
          .data(res)
          .render();
        })
      .catch(function(err) {
      // Handle the error
        hashRate48HoursChart
          .message(err.message);
        });

//Zen Balance in the pool
   var qConirmed = new Keen.Query("average", {
      event_collection: "balance",
      target_property: "confirmed",
      timeframe: "this_2_days",
      interval: "hourly"
    });

    var qUnconfirmed = new Keen.Query("average", {
      event_collection: "balance",
      target_property: "unconfirmed",
      timeframe: "this_2_days",
      interval: "hourly"
    });

    client.run([qConirmed, qUnconfirmed], function(err, res) {
      zenOverTimePool
        .data(res[0])
        .labelMapping({
          'Result': 'Confirmed'
        })
        .call(function() {
          var ds2 = Keen.Dataset.parser('interval')(res[1]);
          this.dataset.appendColumn('Unconfirmed', ds2.selectColumn(1).slice(1));
        })
        .render();
    });


//Get PRofitability
var url = "https://zen.suprnova.cc/index.php?page=api&action=getusertransactions&api_key=ff59834c6df278f71492e471feea93048631b4261c6dfcd93babd33691b47d5c&id=950896"
var yql_url = 'https://query.yahooapis.com/v1/public/yql';

$.ajax({
    'url': yql_url,
    'data': {
        'q': 'SELECT * FROM json WHERE url="'+url+'"',
        'format': 'json',
        'jsonCompat': 'new',
    },
    'dataType': 'jsonp',
    'success': function(response) {
        var trx = response.query.results.getusertransactions.data.transactions;
        var  tot = 0;
        for (var i = trx.length - 1; i >= 0; i--) {
          if(trx[i].type == "Credit"){
           
            tot += parseFloat(trx[i].amount);
           }
        }
        var d2 = new Date();
        d2.setHours(trx[0].timestamp.split(' ')[1].split(':')[0]);
        d2.setMinutes(trx[0].timestamp.split(' ')[1].split(':')[1]);

        var d1 = new Date();
        d1.setHours(trx[trx.length-1].timestamp.split(' ')[1].split(':')[0]);
        d1.setMinutes(trx[trx.length-1].timestamp.split(' ')[1].split(':')[1]);
        var minutes = (d2-d1)/(1000*60);
        var hours = (minutes/60);
        var hourlyProfit = tot/hours;
        console.log(hourlyProfit*24);
        //console.log(qData);
        //profitability.data(credits).render();
        var hourlyZEC = hourlyProfit;
        var urlZenPrice = "https://min-api.cryptocompare.com/data/price?fsym=ZEN&tsyms=USD";

        $.ajax({
            'url': yql_url,
            'data': {
                'q': 'SELECT * FROM json WHERE url="'+urlZenPrice+'"',
                'format': 'json',
                'jsonCompat': 'new',
            },
            'dataType': 'jsonp',
            'success': function(response) {
                var price = response.query.results.USD;
                console.log(response.query.results.USD*hourlyProfit*24);
                profitabilityUSD.data({ result:  [
                  {
                    "Title": "Hourly ZEC",
                    "Value": parseFloat(hourlyZEC).toFixed(7)
                  },
                  {
                    "Title": "Hourly USD",
                    "Value":  "$ "+parseFloat(hourlyZEC*price).toFixed(2)
                  },
                  {
                    "Title": "Daily ZEC",
                    "Value":  parseFloat(hourlyZEC*24).toFixed(7)
                  },
                  {
                    "Title": "Daily USD",
                    "Value":  "$ "+parseFloat(hourlyZEC*24*price).toFixed(2)
                  }
                ]}).render();

            },
        });
    },
});
//End of Get profitability

//Get Realtime Hashrate
function realtimeHR(){
  var urlRealTimeHashrate = "https://zen.suprnova.cc/index.php?page=api&action=getuserstatus&api_key=ff59834c6df278f71492e471feea93048631b4261c6dfcd93babd33691b47d5c&id=950896";
  $.ajax({
            'url': yql_url,
            'data': {
                'q': 'SELECT * FROM json WHERE url="'+urlRealTimeHashrate+'"',
                'format': 'json',
                'jsonCompat': 'new',
            },
            'dataType': 'jsonp',
            'success': function(response) {
              console.log(response.query.results.getuserstatus.data.hashrate/1000);
            //$("#grid-5").html(response.query.results.getuserstatus.data.hashrate/1000);
            realtimeHashrate.data({result:response.query.results.getuserstatus.data.hashrate/1000}).render();
            },
        });


}
realtimeHR();
setInterval(realtimeHR, 60000);

//Get Miner Status at Startup to enable or disable buttons
var rigStatus = "";
var pubnub = new PubNub({
    subscribeKey: 'sub-c-85f5b30c-6c47-11e7-84e1-0619f8945a4f', // always required
    publishKey: 'pub-c-28e5b25b-e889-4d15-9b3b-0f47a4c9086e' // only required if publishing
});

pubnub.subscribe({ 
    channels: ['mining-rig'] 
});

pubnub.publish(
    {
        message: { 
            text: 'Request-Status'
        },
        channel: 'mining-rig',
        sendByPost: false, // true to send via post
        storeInHistory: false, //override default storage options
        meta: { 
            "cool": "meta"
        }   // publish extra meta with the request
    }, 
    function (status, response) {
        if (status.error) {
            // handle error
            console.log(status)
        } else {
            console.log("message Published w/ timetoken", response.timetoken)
        }
    }
);

//Listener sets the buttons according to the response
pubnub.addListener({
        status: function(statusEvent) {
            if (statusEvent.category === "PNConnectedCategory") {
                //publishSampleMessage();
            }
        },
        message: function(message) {
            
        if(message.message.text==("Publish Status")){
                //nrc.run('Taskkill /IM ZecMiner64.exe /F');
                
                rigStatus = message.message.value;       
                if(rigStatus == "Running"){
                  console.log(rigStatus);
                  
                  $("#startMining").addClass("disabled");
                  $("#stopMining").removeClass("disabled");
                }else if(rigStatus == "Stopped"){
                  $("#startMining").removeClass("disabled");
                  $("#stopMining").addClass("disabled");
                }
            }
        },
        presence: function(presenceEvent) {
            // handle presence
        }
    });      

  //Button onClicks
  function startMining(){
    if(rigStatus=="Stopped"){
      pubnub.publish(
          {
              message: { 
                  text: 'Start'
              },
              channel: 'mining-rig',
              sendByPost: false, // true to send via post
              storeInHistory: false, //override default storage options
              meta: { 
                  "cool": "meta"
              }   // publish extra meta with the request
          }, 
          function (status, response) {
              if (status.error) {
                  // handle error
                  console.log(status)
              } else {
                  console.log("message Published w/ timetoken", response.timetoken)
              }
          }
      );
    }
  }

  function stopMining(){
    if(rigStatus=="Running"){
      pubnub.publish(
          {
              message: { 
                  text: 'Stop'
              },
              channel: 'mining-rig',
              sendByPost: false, // true to send via post
              storeInHistory: false, //override default storage options
              meta: { 
                  "cool": "meta"
              }   // publish extra meta with the request
          }, 
          function (status, response) {
              if (status.error) {
                  // handle error
                  console.log(status)
              } else {
                  console.log("message Published w/ timetoken", response.timetoken)
              }
          }
      );
    } 
  }
 


</script>
 
</body>
</html>
